.VacancyColumn {
  // border: 1px solid red;
}

.VacancyColumn__info {
  display: flex;
  font-weight: bold;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 2px 3px 0 rgba(70, 68, 98, 0.1);
  padding: 10px 16px;

  & > span {
    margin-left: 5px;
    color: $color__gray-main;
  }
}

.VacancyColumn__list {
  margin-top: 10px;

  & .Vacancy {
    margin-top: 8px;
  }
}